::-webkit-scrollbar:horizontal {
  height: 5px !important;
}
::-webkit-scrollbar:vertical {
  width: 5px !important;
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgb(167, 167, 167);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:vertical {
  background: rgb(167, 167, 167);
  border-radius: 10px;
}

.tableRow .row:nth-of-type(even){
  background-color: rgb(244, 244, 244);
}

.send:active,.add:active, .remove:active{
  scale: 0.98;
}